{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'fonts/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="{% static 'css/Slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>
    <script src="{% static 'js/scripReg.js' %}"></script>

    <title>MisPerris</title>
</head>

<body>

    <section class="container-fluid">

        <header class="row center-xs start-md " id="fondologo">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <img id="logo" src="{% static 'img/logo.png'%}" alt="logo">
            </div>
            <ul id="menu" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <li>
                    <a class="prue" href="#">inicio </a>
                </li>
                <li>
                    <a class="prue" href="#conocenos">quienes somos </a>
                </li>
                <li>
                    <a class="prue" href="#">servicios </a>
                </li>
                <li>
                    <a class="prue" href="#">contactanos </a>
                </li>
                <li>
                    <a class="prue" href="http://127.0.0.1:8000/accounts/signup/">Registrate</a>
                </li>
                <li>
                    <a class="prue" href="http://127.0.0.1:8000/accounts/login/">Iniciar Session</a>
                </li>
            </ul>
            <div>{{request.user}}</div>
        </header>




        <section class="row center-xs imag">
            <section class="col-xs-12">
                <div id="contenedor-slider" class="contenedor-slider">
                    <div id="slider" class="slider">
                        <section class="slider__section">
                            <img src="{% static 'img/adoptados/Apolo.jpg' %}" class="slider__img" alt="Rescate" width="800"
                                height="400">
                        </section>
                        <section class="slider__section">
                            <img src="{% static 'img/adoptados/Duque.jpg' %}" class="slider__img" alt="Rescate" width="800"
                                height="400">
                        </section>
                        <section class="slider__section">
                            <img src="{% static 'img/adoptados/Tom.jpg' %}" class="slider__img" alt="Rescate" width="800"
                                height="400">
                        </section>

                    </div>
                    <div id="btn-prev" class="btn-prev">&#60;</div>
                    <div id="btn-next" class="btn-next">&#62;</div>
                </div>
            </section>

        </section>
        <script src="{% static 'js/slider.js' %}"> </script>

        <aside class="row fondosect">
            <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <ul class="row center-xs start-md contacto">
                    <li>
                        <a href="#">+56967268185 </a>
                    </li>


                </ul>
            </section>

            <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <ul class="row center-xs start-md contacto">
                    <li>
                        <a href="#">Rescate y adopcion de perros callejeros</a>
                    </li>

                </ul>
            </section>


            <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
                <ul class="row center-xs end-md" id="icons">

                    <li class="circulo">
                        <a class="icon-facebook" href="https://www.facebook.com/"> </a>
                    </li>
                    <li class="circulo">
                        <a class="icon-google" href="#"></a>
                    </li>
                    <li class="circulo">
                        <a class="icon-instagram" href="https://www.instagram.com/?hl=es-la"></a>
                    </li>
                    <li class="circulo">
                        <a class="icon-mail3" href="https://www.instagram.com/?hl=es-la"></a>
                    </li>
                </ul>
            </section>
            <br />
            <br />
        </aside>


        <section class="row">

            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="moverisq">
                <a name="conocenos"></a>
                <a name="fin"></a>
                <H1>RESCATE</H1>
                <br />
                <h5 class="textoPlomo">ETAPA UNO</h5>
                <br />
                <h2 class="textoPlomo">_____</h2>
                <br />
                <p class="textoPlomo">Rescatamos perros en situacion de peligro y/o abandono. Los rehabilitamos y los
                    preparamos para buscarle
                    un hogar</p>
                <br />
                <br />
                <img src="{% static 'img/rescate.jpg' %}" alt="perro" width="250" height="125">


            </article>
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="moverder">
                <img src="{% static 'img/crowfunding.jpg' %}" alt="foto" width="250" height="200">
                <br />
                <H1>CROWFUNDING</H1>
                <br />
                <h5 class="textoPlomo">FINANCIAMINETO</h5>
                <br />
                <h2 class="textoPlomo">______</h2>
                <br />
                <p class="textoPlomo">Sigue nuestras redes sociales para informarte acerca de las diversas campañas y
                    actividades que realizamos
                    para obtener Financiamiento y seguir ayudando </p>
                <br>
                <br>
                <input class="boton2" type="button" id="boton" value="CAMPAÑAS">
            </article>

        </section>


    </section>
    <div class="galery row">
        <div class="col-xs-4">
            <a href="{% static 'img/rescatados/Oso.jpg' %}" data-lightbox="mygallery" data-title="Oso, es muy curioso">
                <img src="{% static 'img/rescatados/Oso.jpg' %}" alt="Oso" class="resca-img">
            </a>
            <a href="{% static 'img/rescatados/Maya.jpg' %}" data-lightbox="mygallery" data-title="Maya, es muy timida">
                <img src="{% static 'img/rescatados/Maya.jpg' %}" alt="Maya" class="resca-img">
            </a>
            <a href="{% static 'img/rescatados/Wifi.jpg' %}" data-lightbox="mygallery" data-title="Wifi, es travieso">
                <img src="{% static 'img/rescatados/Wifi.jpg' %}" alt="Wifi" class="resca-img">
            </a>
        </div>
        <div class="col-xs-4">
            <a href="{% static 'img/rescatados/Chocolate.jpg' %}" data-lightbox="mygallery" data-title="Chocolate, muy leal">
                <img src="{% static 'img/rescatados/Chocolate.jpg' %}" alt="Chocolate" class="resca-img">
            </a>
            <a href="{% static 'img/rescatados/Pexel.jpg' %}" data-lightbox="mygallery" data-title="Pexel, muy obediente">
                <img src="{% static 'img/rescatados/Pexel.jpg' %}" alt="Pexel" class="resca-img">
            </a>
        </div>
        <div class="col-xs-4">
            <a href="{% static 'img/rescatados/Bigotes.jpg' %}" data-lightbox="mygallery" data-title="Bigotes, le gusta jugar todo el tiempo">
                <img src="{% static 'img/rescatados/Bigotes.jpg' %}" alt="Bigotes" class="resca-img">
            </a>
            <a href="{% static 'img/rescatados/Luna.jpg' %}" data-lightbox="mygallery" data-title="Luna, es muy tranquila">
                <img src="{% static 'img/rescatados/Luna.jpg' %}" alt="Luna" class="resca-img">
            </a>
        </div>
    </div>


    <div class="row">
        <footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="piedepaguina">

            <PRE>Desarrollo web y movile</pre>
        </footer>
    </div>



</body>

</html>