{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <title>Posulante</title>
</head>

<body>
    <header class="row center-xs" id="fondologo">
        <div class="col-xs-12" >
            {% block content %}
            <h1>Ingrese datos para postular</h1>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}.
                <button type='submit' class="save btn btn-default">Save</button>
            </form>

            {% endblock %}
        </div>
    </header>
</body>

</html>