{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'Css/adopcion.css' %}">
    <link rel="stylesheet" href="{% static 'Css/flexboxgrid.css' %}">
    <title>{{ adopciones.titulo }}</title>
</head>

<body>

</body>

</html>
{% block content %}
<div class="row center-xs ">
    <h2 class=" col-xs-12 fondo" id="titdetalle">Hola mi nombre es {{ adopcion.titulo }}</h2>
    <div class="col-xs-12 col-sm-12 col-md-6 subfondo" id="centrartext">
        <p class="letradet">{{ adopcion.descripcion }}</p>
        <p class="letradet"> Fui encontrado el: {{ adopcion.fecha_publicacion }}</p>
        <p class="letradet">¿Queires adoptar? <a href="http://127.0.0.1:8000/postular/">Adoptar</a></p>


    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 subfondo">
        <img id="foto" src="{{ adopcion.thumb.url }}" />
    </div>
</div>
{% endblock %}